@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .input-field::placeholder {
    @apply text-dark-grayish-violet font-medium
  }

  body {
    @apply w-full min-h-lvh
  }
}

@layer components {
  .card {
    @apply bg-no-repeat bg-cover bg-center rounded-md text-white font-normal tracking-wider min-h-[160px] min-w-[250px]  absolute max-w-[280px]
  }

  .input-label {
    @apply uppercase text-[0.7rem] font-medium tracking-widest;
  }

  .input-field {
    @apply block border border-light-grayish-violet px-2 py-1.5 rounded-md mt-2 mb-1
    ;
  }

  label {
    @apply mt-4
  }

  .input-field:focus {
    @apply border-transparent;
    outline: none;
    border-color: transparent;
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  .button {
    @apply bg-very-dark-violet text-white rounded-md 
  }

  .form {
    @apply grid w-full max-lg:max-w-[500px] max-w-[650px]
  }

  .error {
    @apply text-red text-xs 
  }
}
